.info-boxes {
    display: grid;
    gap: 1em 1em;
    padding: 0 5em 5em;
    width: 100%;
    margin: 0 auto;
    background-color: $main-text-color;
}

.info-boxes h1 {
    grid-column: span 6;
    justify-self: center;
}

.info-box {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.info-box.project {
    grid-column: span 6;
}

.button-box-info {
    background-color: $button-color;
    width: 120px;
    height: 60px;
    box-shadow: 2px 2px 5px $main-text-color-black;
    text-align: center;
    text-decoration: none;
    color: $main-text-color-black;
}

.button-box-info:hover {
    background-color: $button-hover-color;
}

.button-text {
    padding-top: 50%;
}

.button-text-p {
    margin-top: 20px;
}

.index-para {
    width: 100%;
}

@media (max-width: 767px) {
    .info-boxes h1,
    .info-box,
    .info-box.project {
        grid-column: span 1;
    }
    .info-boxes {
        width: 100%;
        padding: 0 5em;
    }
}
