.container-report {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: 200px 700px;
    gap: 1em 1em;
    padding: 1em;
}

.container-report h1 {
    justify-self: center;
}

.kmom-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.kmom-report.report {
    padding-top: 7em;
    width: 200px;
}

.kmom-a:hover {
    color: $lines-color;
}

@media (max-width: 767px) {
    .kmom-report {
        display: none;
    }

    .kmom-report.text {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
    }
}
