@import 'common';

@import 'varibles';
@import 'info';
@import 'gallery';
@import 'news';
@import 'about';
@import 'header';
@import 'footer';


* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

/*** BASIC LAYOUT ***/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 360px;
}

.main {
    flex: 1 0 auto;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    //padding: 5em 0;
    background-color: $main-background-color;
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: 72em;
}

/* very ugly overflow fix, avoid this whenever possible! */

.main .container {
    overflow-x: auto;
}
/* IE8 + IE9 clearfix */

.header>.container::after {
    content: '';
    display: block;
    clear: both;
}

/*** BASIC LAYOUT: EXTRA SMALL DEVICES ***/

@media (max-width: 767px) {
    .main {
        padding: 2em 0 1em;
    }

    .title,
    .logo {
        padding: 2em 1.5em 2em 0;
    }

    .logo {
        height: 8.8em;
    }

    .nav {
        clear: both;
        padding: 0;
    }

    .nav ul {
        padding-bottom: 1em;
    }

    .nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
    }

    .nav ul li a {
        display: block;
        padding: 0.5em 0;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js .nav-toggle>* {
        vertical-align: middle;
    }

    .footer p {
        padding: 1em 0;
    }
    
    .footer .social {
        padding: 0.5em 0 0.5em 1em;
    }
}

/*** BLOCKQUOTE ***/

blockquote {
    font-style: italic;
    margin-left: 1em;
    padding-left: 1em;
    border-left: 0.5em solid #f5f5f5;
}

/* Main */

.main {
    flex: 1 0 auto;
    //padding: 2em;
}

.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    -webkit-transition: height 0.5s ease-in !important;
    transition: height 0.5s ease-in !important;
}

/* Small devices */

@media (max-width: 767px) {
    #nav {
        clear: both;
        padding: 0;
    }

    #nav ul {
        padding-bottom: 1em;
    }

    #nav ul li {
        display: block;
        margin-left: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    #nav ul li a {
        display: block;
        padding: 0.5em 0;
    }
    
    .js #nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .js #nav-toggle>* {
        vertical-align: middle;
    }

    .header-text {
        display: none;
    }
}


/* homepage image */

.image-div {
    text-align: center;
}

.homepage-image {
    border: 3px solid $lines-color;
}

@media (max-width: 767px) { 
    .homepage-image {
        height: 200px;
        width: 150px;
    }
}

/* watches image */

.watch-image-div {
    text-align: center;
}

.watch-image {
    border: 3px solid $lines-color;
}

.watch-title {
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

.ref-link {
    text-decoration: underline;
}

.ref-link:hover {
    color: $lines-color;
}

/* embeded video */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 80%;
    margin: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-first {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 50px;
}

@media (max-width: 767px) { 
    .text-first {
        width: 100%;
        margin: 0 auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
    }
}

.main-text {
    font-size: 20px;
}
