$foot-color: #0b212e;
$header-color: #0b212e;
$lines-color: #30292F;
$report-color: #7e929c;
$button-color: #5D737E;
$button-hover-color: #7e929c;
$main-background-color: #30292F;
$theme-color: #5D737E;
$main-text-color: #3F4045;
$main-text-color-black: #02111B;
$main-text-color-white: rgb(255, 255, 255);
$border-color: #30292F;

$color1: #02111B;
$color2: #3F4045;
$color3: #30292F;
$color4: #5D737E;