$foot-color: #0b212e;
$header-color: #0b212e;
$lines-color: #bd8100;
$report-color: #36a6e7;
$button-color: #36a6e7;
$button-hover-color: #aae0ff;
$main-background-color: #c9c9c9;
$theme-color: rgb(168, 109, 50);
$main-text-color: rgb(255, 255, 255);
$main-text-color-black: rgb(0, 0, 0);
$border-color: rgb(219, 181, 79);
